<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style/notFound.css" />
  </head>
  <body>
    <div class="wrapper">
      <!-- MAIN -->
      <div class="container" data-text="404">
        <div class="title glitch" data-text="404">404</div>
        <div class="description glitch" data-text="PAGE NOT FOUND">
          PAGE NOT FOUND
        </div>
        <a href="/">
          <button class="main-title">
            Asosiy sahifa <i class="far fa-hand-point-right"></i>
          </button>
        </a>
      </div>
      <!-- END MAIN -->
    </div>
    <script src="/style/notFound.js"></script>
  </body>
</html>
